.button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.1);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}

.button:hover, .button:focus{
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.2);
  outline: none;
  transform: skewX(-0.4deg);
}

.button:active{
  outline: none;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.3);
  transition-duration: 10ms;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.icon {
  width: 24px;
}

.text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Roboto', arial, sans-serif;
}
